*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  max-height: 10vh;
  width: 100%;
  justify-content: space-between;
  white-space: nowrap;
  align-items: center;
}

.nav-bar {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  margin-right: 3.813rem;
}

.nav-icons {
  margin-left: auto;
  margin-right: auto;
  cursor: not-allowed;
}

#search {
  height: 20px;
  width: 20px;
  margin: 1.25rem;
}

#log-in {
  height: 24px;
  width: 20px;
  margin: 1.25rem;
}

#bag {
  height: 24px;
  width: 20px;
  margin: 1.25rem;
}

#logo {
  height: 7.5rem;
  width: auto;
  margin-left: 6rem;
  cursor: pointer;
}

.container-category {
  height: 15.753vh;
  width: auto;
  background-color: #ffe0c3;
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35vw;
  height: 10.274vh;
}

.drop-box {
  display: flex;
  flex-direction: column;
  height: 10.958vh;
  width: 4.7095vw;
  font-family: Muli;
  align-items: center;
  font-size: 2.739vh;
  cursor: pointer;
}

#heart {
  width: 32px;
  height: 32px;
}

.hero {
  display: flex;
  align-items: center;
  height: 54.7945vh;
  background-color: #fff7f0;
  justify-content: center;
}

.promotion-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 41.0958vh;
  width: auto;
  padding-top: 6.849vh;
  padding-bottom: 6.849vh;
}

.promo-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff7f0 0% 0% no-repeat padding-box;
  border: 3px solid #ff7b54;
  opacity: 1;
  width: 31.397vw;
  height: 27.397vh;
}

#left-promo-img {
  height: 41.0958vh;
  width: 16.64vw;
}

#right-promo-img {
  height: 41.0958vh;
  width: 16.64vw;
  overflow: hidden;
}

.hero-promo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Muli;
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  height: 12.842vh;
  width: 18.838vw;
  font-size: 1.7em;
}

.promo-left-square {
  background-color: #ffe0c3;
  opacity: 1;
  height: 41.0958vh;
  width: 31.397vw;
  display: flex;
  justify-content: space-around;
}

.promo-headline {
  font-family: Muli;
  font-size: 1.375em;
  text-align: left;
  opacity: 1;
  width: 13.8648vw;
  height: 9.589vh;
}

.promo-price {
  width: 13.8648vw;
  height: 4.7945vh;
  text-align: left;
  font: bold 1.375em Mulish, sans-serif;
  font-family: Muli;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 0.3em;
}

.promo-indent {
  padding-left: 2.0797vw;
  padding-top: 6.8493vh;
}

.promo-right-square {
  background-color: #ffe0c3;
  opacity: 1;
  height: 41.0958vh;
  width: 31.397vw;
  display: flex;
  justify-content: space-around;
}

#promo-right-headline {
  font-family: Muli;
  font-size: 1.375;
}

.div-headline {
  padding-left: 2.0797vw;
  margin-top: 3vh;
  font: bold 1.375rem Muli;
}

.showcase-carousel {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.showcase-carousel-image {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-container {
  margin-top: 5.0697vh;
  width: 20.88068vw;
}

.product-square-left {
  height: 37.2623vh;
  width: 21.0903vw;
  background-color: #efefef;
}

.product-square {
  height: 37.2623vh;
  width: 21.0903vw;
  background-color: #efefef;
}

.showcase-image {
  padding-top: 3.688vh;
  padding-bottom: 3.688vh;
  padding-right: 1.92vw;
  padding-left: 1.92vw;
  width: 240px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.showcase-product-name {
  width: auto;
  height: 20px;
  text-align: center;
  font: normal normal bold 16px/20px Mulish;
  letter-spacing: 0px;
  color: #151515;
  opacity: 1;
  padding-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.0139vh;
  display: block;
}

.showcase-product-price {
  width: auto;
  height: 18px;
  text-align: center;
  font: normal normal normal 14px/20px Muli;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
}

.footer-container {
  text-align: center;
}
#footer-arrow {
  cursor: pointer;
}

.footer-headline {
  height: 18px;
  text-align: center;
  width: auto;
  text-align: left;
  font: normal normal normal 14px/20px Muli;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}

.department-headline {
  margin-top: 2vh;
  margin-left: 4.649vw;
  width: 202px;
  height: 15px;
  text-align: left;
  font: normal normal normal 12px/18px Muli;
  letter-spacing: 0px;
  color: #575757;
  opacity: 1;
}

.department-hero-left {
  width: auto;
  display: flex;
}

#living-room {
  height: 40.5576vh;
  min-width: 36.908vw;
  padding-top: 3.554vh;
  margin-left: 4.649vw;
}

.copywrite-title {
  width: auto;
  text-align: left;
  font: normal normal bold 1.938em Muli;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 12.9277vh;
  margin-left: 5.4617vw;
}

.copywrite-paragraph {
  width: 41.765vw;
  height: 11.7647vh;
  text-align: left;
  font: normal normal normal 1rem Muli;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 3.036vh;
  margin-left: 5.4617vw;
}

.showcase-rectangle {
  height: 37.2623vh;
  width: 43.4659vw;
  opacity: 1;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}

.display {
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: 8vh;
}

#office {
  height: 60.8365vh;
  width: 57.2222vw;
}

.left-copy-div {
  width: 27.894vw;
  height: 28.897vh;
  margin-right: 1.6736vw;
}

.left-copywrite-title {
  text-align: left;
  font: normal normal bold 22px/28px Muli;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 6.4638vh;
  margin-bottom: 3.0418vh;
}

.left-copywrite-paragraph {
  text-align: left;
  font: normal normal normal 16px/21px Muli;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-right: 2.7894vw;
  margin-top: 3.0418vh;
  margin-bottom: 5.3231vh;
}

#bedroom {
  height: 60.8365vh;
  max-width: 57.2222vw;
}

.right-copy-title {
  text-align: left;
  font: normal normal bold 22px/28px Muli;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 6.4638vh;
  margin-bottom: 3.0418vh;
}

.leftImageDisplay {
  display: flex;
  justify-content: center;
  width: auto;
  margin-left: 5.0427vw;
  margin-right: 5.0427vw;
  margin-top: 8vh;
}

.right-copy-div {
  margin-left: 1.6666vw;
}

.right-copy-paragraph {
  text-align: left;
  font: normal normal normal 16px/21px Muli;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-right: 2.7777vw;
  margin-top: 3.0418vh;
  margin-bottom: 5.3231vh;
}

#bottom-image {
  margin-top: 5.0697vh;
  max-height: 560px;
  width: 100%;
}